<header class="container__menu-bar">
  <div class="container__perfil-nav">
    <div class="container__img-bar">
      <img src="https://tm.ibxk.com.br/2017/06/22/22100428046161.jpg" alt="">
    </div>

    <div class="container__links-nav">
      <ul>
        <a href="">
          <li>Tecnocast</li>
        </a>
        <a href="">
          <li>Blog</li>
        </a>
        <a href="">
          <li>Article</li>
        </a>
      </ul>
    </div>
  </div>
  <div class="container__redes-sociais-menu">
    <ul>
        <a href="">
          <li>Instagram</li>
        </a>
        <a href="">
          <li>Telegram</li>
        </a>
        <a href="">
          <li></li>
        </a>
      </ul>
  </div>
</header>
